<h1>New Accounting Entry</h1>

<%= simple_form_for [@accounting_entry] do |f|  %>
	<%= f.input :date_prepared %>
	<%= f.input :date_posted %>
	<%= f.input :particular %>
	<%= f.input :status, collection: AccountingEntry::STATUSES%>
	<%= f.input :book, collection: AccountingEntry::BOOKS %>
	<%= f.submit %>
<% end %>
