<div  class="container">
	<h3>Accounting Entry</h3>
		<ul class="list-inline">
			<li><b>Reference no:</b> <%= @accounting_entry.ref_number %></li>
			<li><b>Date Prepared:</b> <%= @accounting_entry.date_prepared.strftime(" %a, %e %b %Y") %></li>
			<b>Status:</b> <%= @accounting_entry.status %></li>
			<li>
				<%= link_to accounting_entries_path,  class: "btn btn-outline-info btn-sm" do %>
					<i class="fas fa-chevron-left"></i> Back
				<% end %>
			</li>
		</ul>
		<%= render "approve" %>

      <hr>

      <% if @accounting_entry.pending? %>
        <%= render partial: "journal_entries/new" %>
      <% end %>
      
      <% if @accounting_entry.journal_entries.size > 0 %>
        <%= render partial: "journal_entries", locals: { journal_entries: @accounting_entry.journal_entries, accounting_entry: @accounting_entry } %>
      <% end %>
</div>
