
<div class="container">
	<p><%= @accounting_code.code %></p>
	<p><%= @accounting_code.account %></p>
	<p><%= @accounting_code.description %></p>
	<p><%= @accounting_code.category %></p>
	<p><%= @accounting_code.status %></p>
	<p><%= link_to 'Edit', edit_accounting_code_path(@accounting_code) %></p>
	<p><%= link_to "Destroy", accounting_code_path(@accounting_code), 
														data: { method: :delete, 
														confirm: "Are you sure?"} %></p>
</div>


