<!DOCTYPE html>
<html>
  <head>
    <title>Quickpad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
		<%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>

	<div class="m-1" style="width: 100%;">
		<div class="row d-flex justify-content-around">
			<div class="col-3 ml-0 p-0">
				<%= render "shared/sidebar" %>
			</div>
			<div class="col-9 mr-0 p-1">
				<%= render 'shared/flashes' %>
				<%= render 'shared/navbar' %>
				<%= yield %>
			</div>
		</div>
	</div>

  </body>
</html>
